* {
    font-family: arial, vardana, sans-serif;}
h1 {
    font-family:"courier New", monospace:}
i {
    color: green;}
i {
    color: red;}
b {
    color: pink;}
p {
    color: blue !important;}
p {
    color: violet;}
p#intro{
    font-size:100%;}
p {
    font-size: 75%;}